# Python gyorsítótárak
__pycache__/
*.py[cod]
*$py.class

# Voicetex lokális adatbázisok és hangok (NE menjenek a GitHubra)
tanito_adatok/
temp_szeletek/
voicetex_backups/

# A letöltött neurális hálózatok és helyi LoRA adapterek
whisper_lora_magyar/
huggingface_cache/
models/

# Virtuális környezet (ha használsz)
venv/
.venv/

# Hangfájlok kizárása a mappából
mp3 text/*.wav
mp3 text/*.mp3